@import "tailwindcss";

@theme {
  --font-sans: var(--font-rajdhani);
  --font-display: var(--font-teko);

  --color-brand-yellow: #FFC107;
  --color-brand-dark: #0a0a0a;
  --color-brand-gray: #1a1a1a;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}